<%- include('header'); -%>
<div class="container">
    <h1>BREAD-JSON</h1>
    <div class='container'>
        <form id='form-bread'>
            <input type="hidden" name='page' id='page' value='1'>
            <div id='inputId'>
                <label for="id">
                    <h4>ID</h4>
                </label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" id='idCheck' value="checked" name="idCheck">
                        </div>
                    </div>
                    <input type="text" class="form-control" id='id' placeholder="ID" name="id">
                </div>
            </div>

            <label for="string">
                <h4>String</h4>
            </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id='idString' value="checked" name="stringCheck">
                    </div>
                </div>
                <input type="text" class="form-control" id='string' placeholder="String" name='string'>
            </div>

            <label for="integer">
                <h4>Integer</h4>
            </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id='idInteger' value="checked" name="integerCheck">
                    </div>
                </div>
                <input type="number" class="form-control" id='integer' placeholder="Integer" name="integer">
            </div>

            <label for="float">
                <h4>Float</h4>
            </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id='idFloat' value="checked" name="floatCheck">
                    </div>
                </div>
                <input type="number" class="form-control" id='float' step=any placeholder="Float" name="float">
            </div>

            <label for="date">
                <h4>Date</h4>
            </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id='idDate' value="checked" name="dateCheck">
                    </div>
                </div>
                <input class="form-control" type="date" id="dateStart" name='dateStart'>
                <input class="form-control" type="date" id="dateEnd" name='dateEnd'>
            </div>

            <label for="boolean">
                <h4>Boolean</h4>
            </label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id='idBoolean' value="checked" name="booleanCheck">
                    </div>
                </div>
                <select class="form-control kondisi" name="boolean" id='boolean'>
                    <option value='false'>false</option>
                    <option value='true'>true</option>
                </select>
            </div>

            <button type="submit" class="btn btn-outline-primary" id="search">Search</button>
            <button type="submit" class="btn btn-outline-success" id="save">Tambah</button>
            <button type="reset" class="btn btn-warning" id="reset">Reset</button>
        </form>
        <br>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Data</th>
                <th scope="col">String</th>
                <th scope="col">Integer</th>
                <th scope="col">Float</th>
                <th scope="col">Date</th>
                <th scope="col">Boolean</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">

        </ul>
    </nav>
</div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(() => {
        loadData();

        $('#form-bread').submit(e => {
            event.preventDefault()
            loadData();
        })
        $('#form-bread').on('click', '#save', (event) => {
            event.preventDefault()
            ubahForm();
        })
        
        $('#form-bread').on('click', '#reset', (event) => {
            backToNormal();
            loadData();
        })

        $('#form-bread').on('click', '#tambah', (event) => {
            event.preventDefault();
            saveData($('input#id').val());
        })

        $('table tbody').on('click', '.btn-delete', (event) => {
            deleteData($(event.currentTarget).attr('data-id'));
        })

        $('table tbody').on('click', '.btn-edit', (event) => {
            getData($(event.currentTarget).attr('data-id'));
            ubahForm();
        })

        $('ul.pagination').on('click', '.previous', (event) => {
            let page = $('input#page').val()
            $('input#page').val(parseInt(page) - 1)
            loadData();
        });

        $('ul.pagination').on('click', '.pageNow', (event) => {
            let page = $('input#page').val()
            $('input#page').val($(event.currentTarget).attr('data-page'));
            loadData();
        });


        $('ul.pagination').on('click', '.next', (event) => {
            let page = $('input#page').val()
            $('input#page').val(parseInt(page) + 1)
            loadData();
        });
    })

    const loadData = () => {
        const data = $('#form-bread').serializeArray();
        $.ajax({
                method: "GET",
                url: "http://localhost:3000/bread",
                data: data,
                dataType: 'json'
            })
            .done(function (hasil) {
                let pageNow = $('#page').val();
                if(hasil.finalData.length == 0 && pageNow != '1'){
                    $('#page').val(pageNow - 1);
                    loadData();
                }else{
                let html = '';
                hasil.finalData.forEach(item => {
                    html += `
              <tr>
              <td>${item.id}</td>
              <td>${item.teks}</td>
              <td>${item.nomor}</td>
              <td>${item.pecahan}</td>
              <td>${item.tanggal}</td>
              <td>${item.kondisi}</td>
              <td><button  type="button" class="btn btn-outline-danger btn-delete" data-id="${item.id}">delete</button>
                  <button type="button" class="btn btn-outline-success btn-edit" data-id="${item.id}">edit</button></td>
              </tr>
              `
                });
                $('table tbody').html(html);

                let pagination = `
                <li class="page-item ${hasil.currentPage <= 1 ? 'disabled' : ''}">
                    <button class="page-link previous" tabindex="-1" aria-disabled="true">Previous</button>
                </li> 
                `;


                for (let i = 1; i <= hasil.totalPage; i++) {
                    pagination += `
                    <li class="page-item ${hasil.currentPage == i ? 'active': ''}"><button class="page-link pageNow" data-page='${i}'>${i}</button></li>
                    `
                }
                pagination += `<li class="page-item ${hasil.currentPage >= hasil.totalPage ? 'disabled' : ''}">
                                <button class="page-link next">Next</button>
                            </li>
                            `

                $('.pagination').html(pagination);
                            
                        }
            });
    }


    const saveData = (id) => {
        if (id) {
            $.ajax({
                method: 'PUT',
                url: `http://localhost:3000/bread/${id}`,
                data: {
                    teks: $('input#string').val(),
                    nomor: $('input#integer').val(),
                    pecahan: $('input#float').val(),
                    tanggal: $('input#dateStart').val(),
                    kondisi: $('.kondisi option:selected').val()
                },
                dataType: 'json'
            }).done(function (hasil) {
                loadData();
                backToNormal();
            })
        } else {
            $.ajax({
                method: 'POST',
                url: `http://localhost:3000/bread`,
                data: {
                    teks: $('input#string').val(),
                    nomor: $('input#integer').val(),
                    pecahan: $('input#float').val(),
                    tanggal: $('input#dateStart').val(),
                    kondisi: $('.kondisi option:selected').val()
                },
                dataType: 'json'
            }).done(function (hasil) {
                backToNormal();
                loadData();
            })
        }
    }

    const ubahForm = () => {
        $('.input-group-prepend, input#dateEnd, #search').fadeOut();
        $('#inputId').attr('hidden', true);
        $('button#save').html('save').attr('id', 'tambah');
    }

    const backToNormal = () => {
        $('.input-group-prepend, input#dateEnd, #search').fadeIn();
        $('#inputId').attr('hidden', false);
        $('button#tambah').html('tambah').attr('id', 'save').fadeIn();
        $(`#boolean option`).removeAttr('selected').filter(`[value='']`).attr('selected', true);
    }

    const getData = (id) => {
        $.ajax({
                method: 'GET',
                url: `http://localhost:3000/bread/${id}`,
                dataType: 'json'
            })
            .done(function (hasil) {
                hasil.forEach(item => {
                    $('input#id').val(item.id);
                    $('input#string').val(item.teks);
                    $('input#integer').val(item.nomor);
                    $('input#float').val(item.pecahan);
                    $('input#dateStart').val(item.tanggal);
                    $(`#boolean option`).removeAttr('selected').filter(`[value=${item.kondisi}]`).attr('selected', 'selected');
                })
            });
    }
    const deleteData = (id) => {
        $.ajax({
                method: 'DELETE',
                url: `http://localhost:3000/bread/${id}`,
                dataType: 'json',
            })
            .done(function (hasil) {
                loadData();
                backToNormal();
            });
    }
</script>
<%- include('footer'); -%>